In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
trainDF = pd.read_csv('../../dataset/Doceree-HCP_Train.csv', encoding='latin-1')
print(trainDF.head())

In [ ]:
trainDF.info()

In [ ]:
for column in trainDF.columns:
    uniqueValues = trainDF[column].unique()
    print(f"Column: {column} ==> {len(uniqueValues)}")
    print()

In [ ]:
print(len(trainDF["USERAGENT"].unique()))

In [ ]:
missingValues = trainDF.isnull().sum()

In [ ]:
missingValues['ID']

In [ ]:
columnNames = trainDF.columns
columnNames

In [ ]:
trainDF['DEVICETYPE'].value_counts().idxmax

In [ ]:
32065 + 3425 + 24 + 78423

In [ ]:
for index in columnNames:
    total = missingValues[index]
    nullTotal = len(trainDF[index])
    print(f"{trainDF[index]} has {total} total: {nullTotal} ===> {(nullTotal/total)*100}%")

In [ ]:
for index in columnNames:
    print(f"{index}\t\t: {len(trainDF[index])} : {missingValues[index]}")

In [ ]:
for column in trainDF:
    uniqueValues = len(trainDF[column].unique())
    print(f"Column {column}: {uniqueValues}")

In [ ]:
for col in trainDF.columns:
    maxAppearedValue = trainDF[col].value_counts().idxmax
    print(f"Column {col} : {maxAppearedValue}")

In [ ]:
columnName = 'KEYWORDS'
valueCounts = trainDF[columnName].value_counts()
valueCounts.plot(kind='bar')
plt.title(f" {columnName} vs Counts ")
plt.xlabel(columnName)
plt.ylabel("Frequency")
print(valueCounts)

In [33]:
userCity = pd.to_numeric(trainDF['USERCITY'])
userZipCode = pd.to_numeric(trainDF['USERZIPCODE'], errors='coerce')

userCity

ValueError: Unable to parse string "Portland" at position 0

In [41]:
userCity = pd.factorize(trainDF["USERCITY"])[0] + 1
userZipCode = pd.factorize(trainDF["USERZIPCODE"])[0] + 1
userCity = pd.Series(userCity)
userZipCode = pd.Series(userZipCode)
corr = userCity.corr(userZipCode)
corr

0.6051674815894686

In [35]:
type(userCity)

numpy.ndarray

In [37]:
len(userCity)

113937

In [39]:
userCity.max()

4420

In [45]:
trainDF.loc[trainDF["ID"] == 102781]

,ID,DEVICETYPE,PLATFORM_ID,BIDREQUESTIP,USERPLATFORMUID,USERCITY,USERZIPCODE,USERAGENT,PLATFORMTYPE,CHANNELTYPE,URL,KEYWORDS,TAXONOMY,IS_HCP
101780,102781,Desktop,5,216.24.45.42,722fe815-ed32-4bff-ad66-03edf6d910dd,NaN,NaN,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,Online Medical Journal,Website,https://fpnotebook.com/Gyn/Vulva/VlvrPrts.htm,nephrology|radiology|abscess|oncology|general|...,NaN,0.0

In [52]:
missingCityCal = trainDF[trainDF["USERCITY"].isna()]["USERZIPCODE"]
missingCityCal

3         229114624.0
21        912031130.0
22                NaN
24                NaN
33                NaN
             ...
113911    921113738.0
113913    787356202.0
113918    760865488.0
113929            NaN
113934        98105.0
Name: USERZIPCODE, Length: 6359, dtype: float64

In [58]:
missingCityOrg = trainDF[trainDF["USERCITY"].isna()]["USERCITY"]

In [59]:
missingCityOrg

3         NaN
21        NaN
22        NaN
24        NaN
33        NaN
         ...
113911    NaN
113913    NaN
113918    NaN
113929    NaN
113934    NaN
Name: USERCITY, Length: 6359, dtype: object

In [56]:
len(missingCityCal.isna())

6359

In [62]:
trainDF.groupby("USERZIPCODE")["USERCITY"].fillna(method='ffill')

0         False
1         False
2         False
3         False
4         False
          ...
113932    False
113933    False
113934    False
113935    False
113936    False
Name: USERCITY, Length: 113937, dtype: bool

In [65]:
trainDF.groupby("USERCITY")["USERZIPCODE"].count()

USERCITY
Aiea           9
'Ewa Beach      9
Abbeville       5
Aberdeen       18
Abilene        23
               ..
Zebulon        12
Zelienople      6
Zephyrhills     5
Zion            4
Zionsville     20
Name: USERZIPCODE, Length: 4420, dtype: int64